@use "../abstract/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: $main-bg;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}


a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  border: none;
}
